<section class="container mt-4 px-5">

    <div class="ez-scrollable-table-wrapper">
        <div class="ez-table-header">
            {% set childLabel = 'Roles inherited by the <' ~ role.identifier ~ '> role (' ~ child_roles|length ~ ')' %}

            <div class="ez-table-header__headline">
                {{ childLabel|trans|desc(childLabel) }}
            </div>
        </div>

        <table class="ez-table table mb-3">
            <thead>
            <tr>
                <th>{{ 'role.view.list.column.name'|trans|desc('Name') }}</th>
                <th>{{ 'role.view.list.column.id'|trans|desc('Role ID') }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for _role in child_roles %}
                <tr>
                    <td class="ez-table__cell">
                        <a href="{{ path('ezplatform.role.view', { roleId: _role.id }) }}">
                            {{ _role.identifier }}
                        </a>
                    </td>
                    <td class="ez-table__cell">{{ _role.id }}</td>
                    <td class="ez-table__cell ez-table__cell--has-action-btns text-right">
                        <form action="{{ path('contextualcode.role_inheritance.delete') }}" method="POST">
                            <input type="hidden" name="roleId" value="{{ role.id }}" />
                            <input type="hidden" name="parentRoleIds[]" value="{{ role.id }}" />
                            <input type="hidden" name="childRoleIds[]" value="{{ _role.id }}" />
                            <button
                                    type="submit"
                                    class="btn btn-danger"
                                    {{ can_delete ? '' : 'disabled' }}

                                    title="{{ 'Delete Child Role Inheritance'|trans|desc('Delete Child Role Inheritance') }}"
                            >
                                <svg class="ez-icon ez-icon-trash">
                                    <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#trash"></use>
                                </svg>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="ez-table-header">
            {% set addLabel = 'Add New Inherited Roles' %}
            <div class="ez-table-header__headline">
                {{ addLabel|trans|desc(addLabel) }}
            </div>
        </div>

        <form id="form" action="{{ path('contextualcode.role_inheritance.create') }}" method="POST">
            <table class="ez-table table mb-3">
                <thead></thead>
                <tr>
                    <input type="hidden" name="roleId" value="{{ role.id }}" />
                    <input type="hidden" name="parentRoleIds[]" value="{{ role.id }}" />
                    <select
                            name="childRoleIds[]"
                            title="Select roles"
                            multiple="multiple" size="5"
                            class="px-2 ml-2 mt-2"
                    >
                        {% for _role in all_roles %}
                            {% if (role.id != _role.id and _role.id not in child_roles|keys) %}
                                <option value="{{ _role.id }}">
                                    {{ _role.identifier }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>

                    <input
                            class="ml-3 button"
                            type="submit"
                            name="AddNewInheritRoleButton"
                            value="{{ addLabel }}"
                            title="{{ addLabel }}"
                    />
                </tr>
            </table>
        </form>
    </div>


    <div class="ez-scrollable-table-wrapper">
        <div class="ez-table-header">
            {% set parentLabel = 'Roles that inherit the <' ~ role.identifier ~ '> role (' ~ parent_roles|length ~ ')' %}
            <div class="ez-table-header__headline">
                {{ parentLabel|trans|desc(parentLabel) }}
            </div>
        </div>

        <table class="ez-table table mb-3">
            <thead>
            <tr>
                <th>{{ 'role.view.list.column.name'|trans|desc('Name') }}</th>
                <th>{{ 'role.view.list.column.id'|trans|desc('Role ID') }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for _role in parent_roles %}
                <tr>
                    <td class="ez-table__cell">
                        <a href="{{ path('ezplatform.role.view', { roleId: _role.id }) }}">
                            {{ _role.identifier }}
                        </a>
                    </td>
                    <td class="ez-table__cell">{{ _role.id }}</td>
                    <td class="ez-table__cell ez-table__cell--has-action-btns text-right">
                        <form action="{{ path('contextualcode.role_inheritance.delete') }}" method="POST">
                            <input type="hidden" name="roleId" value="{{ role.id }}" />
                            <input type="hidden" name="parentRoleIds[]" value="{{ _role.id }}" />
                            <input type="hidden" name="childRoleIds[]" value="{{ role.id }}" />
                            <button
                                    type="submit"
                                    class="btn btn-danger"
                                    {{ can_delete ? '' : 'disabled' }}

                                    title="{{ 'Delete Parent Role Inheritance'|trans|desc('Delete Parent Role Inheritance') }}"
                            >
                                <svg class="ez-icon ez-icon-trash">
                                    <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#trash"></use>
                                </svg>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="ez-table-header">
            {% set addLabel = 'Add New Parent Roles' %}
            <div class="ez-table-header__headline">
                {{ addLabel|trans|desc(addLabel) }}
            </div>
        </div>

        <form id="form" action="{{ path('contextualcode.role_inheritance.create') }}" method="POST">
            <table class="ez-table table mb-3">
                <thead></thead>
                <tr>
                    <input type="hidden" name="roleId" value="{{ role.id }}" />
                    <input type="hidden" name="childRoleIds[]" value="{{ role.id }}" />
                    <select
                            name="parentRoleIds[]"
                            title="Select roles"
                            multiple="multiple" size="5"
                            class="px-2 ml-2 mt-2"
                    >
                        {% for _role in all_roles %}
                            {% if (role.id != _role.id and _role.id not in parent_roles|keys) %}
                                <option value="{{ _role.id }}">
                                    {{ _role.identifier }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>

                    <input
                            class="ml-3 button"
                            type="submit"
                            name="AddNewInheritRoleButton"
                            value="{{ addLabel }}"
                            title="{{ addLabel }}"
                    />
                </tr>
            </table>
        </form>
    </div>

</section>
